* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serifS;
    margin: 0;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    height: 100%;
    grid-template-areas: "header" "main" "footer";
}

main {
    /* min-height: calc(100vh - 3.5rem - 8rem); */
    /* margin-top:0.5rem; */
    grid-area: main;
}

.backdrop {
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s linear;
}

.main-header {
    width: 100%;
    background: rgb(153, 197, 49);
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    display: flex;
    align-items: center;
}

.main-header__brand {
    color: rgb(34, 49, 3);
    text-decoration: none;
    font-weight: bold;
}

.main-header__brand img {
    height: 2.5rem;
    vertical-align: middle;
}

.main-nav {
    /* display: inline-block;
    text-align: right;
    width: calc(100% - 112px); */
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: rgb(34, 49, 3);
    font-weight: bold;
}


/* .main-nav__items a::after {
    content: " (Link)";
    color: red;
} */

.main-nav__item a:hover,
.main-nav__item a:active {
    /*grouped rule*/
    color: rgb(45, 102, 67);
    /* border-bottom: 5px solid wheat;
     */
}

.p:first-letter {
    color: rebeccapurple;
    font-size: 30px;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background: red;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta {
    animation: wiggle 400ms 3s 8 ease-out none;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    background: white;
    color: red;
    border: none;
}

.button {
    background: rgb(6, 36, 6);
    ;
    color: white;
    font: inherit;
    border: 1.5px solid green;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: darkgreen;
}

.button:focus {
    outline: none;
}


/* .button [disabled] {
    cursor: not-allowed;
    border: rgb(143, 142, 142);
    background:#ccc;
    color: black;
} */

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
    .main-nav {
        display: flex;
    }
    .main-header {
        justify-content: space-between;
    }
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
    grid-area: footer;
}

.main-footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link {
    margin: 0.5rem 0rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: wheat;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0% auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media (min-width: 40rem) {
    .main-footer__link {
        margin: 0 1rem;
    }
    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }
}


/********************* animations ***********************/

@keyframes wiggle {
    0% {
        /*from*/
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        /*to*/
        transform: rotateZ(10deg);
    }
}